Enable-VMJITonASCALert/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "This Logic App will update a Azure VM to use JIT access for the OS management port when ASC Alerts fire. Ensure Worflow automation fires on alerts contains ”SSH Brute Force” or “Suspicious incoming RDP network” or “Suspicious incoming SSH network",
        "author": "Nathan Swift"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Enable-VMJITonASCAlert",
            "type": "String"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "ascalertConnectionName": "[concat('ascalert-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ascalertConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('ascalertConnectionName'))]"
            ],
            "tags": {
                "LogicAppsCategory": "security"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Alert_is_created_or_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascalert']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Alert/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "HTTP_Get_VM_Details": {
                            "runAfter": {
                                "Initialize_variable_JITObj": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.azure.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/@{triggerBody()?['AzureResourceId']}?api-version=2019-07-01"
                            },
                            "description": "Obtain information on the Azure VM"
                        },
                        "Initialize_variable_JITObj": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "JITObj",
                                        "type": "object",
                                        "value": {}
                                    }
                                ]
                            },
                            "description": "Used to store the VM types management port 22 SSH Linux or 3389 RDP for Windows"
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "HTTP_Get_VM_Details": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_Get_VM_Details')",
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "location": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "properties": {
                                            "properties": {
                                                "diagnosticsProfile": {
                                                    "properties": {
                                                        "bootDiagnostics": {
                                                            "properties": {
                                                                "enabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "storageUri": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "hardwareProfile": {
                                                    "properties": {
                                                        "vmSize": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "networkProfile": {
                                                    "properties": {
                                                        "networkInterfaces": {
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "osProfile": {
                                                    "properties": {
                                                        "adminUsername": {
                                                            "type": "string"
                                                        },
                                                        "allowExtensionOperations": {
                                                            "type": "boolean"
                                                        },
                                                        "computerName": {
                                                            "type": "string"
                                                        },
                                                        "linuxConfiguration": {
                                                            "properties": {
                                                                "disablePasswordAuthentication": {
                                                                    "type": "boolean"
                                                                },
                                                                "provisionVMAgent": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "requireGuestProvisionSignal": {
                                                            "type": "boolean"
                                                        },
                                                        "secrets": {
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "provisioningState": {
                                                    "type": "string"
                                                },
                                                "storageProfile": {
                                                    "properties": {
                                                        "dataDisks": {
                                                            "type": "array"
                                                        },
                                                        "imageReference": {
                                                            "properties": {
                                                                "exactVersion": {
                                                                    "type": "string"
                                                                },
                                                                "offer": {
                                                                    "type": "string"
                                                                },
                                                                "publisher": {
                                                                    "type": "string"
                                                                },
                                                                "sku": {
                                                                    "type": "string"
                                                                },
                                                                "version": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "osDisk": {
                                                            "properties": {
                                                                "caching": {
                                                                    "type": "string"
                                                                },
                                                                "createOption": {
                                                                    "type": "string"
                                                                },
                                                                "managedDisk": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "osType": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "vmId": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "resources": {
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "location": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "properties": {
                                                            "autoUpgradeMinorVersion": {
                                                                "type": "boolean"
                                                            },
                                                            "provisioningState": {
                                                                "type": "string"
                                                            },
                                                            "publisher": {
                                                                "type": "string"
                                                            },
                                                            "settings": {
                                                                "properties": {
                                                                    "workspaceId": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "typeHandlerVersion": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "tags": {
                                                        "properties": {
                                                            "creationDate": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "id",
                                                    "type",
                                                    "location",
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "tags": {
                                            "properties": {
                                                "creationDate": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "description": "Parse the Azure VM information for OS Disk Type"
                        },
                        "Switch": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "cases": {
                                "Case": {
                                    "case": "Linux",
                                    "actions": {
                                        "HTTP_Apply_JIT_VM_Access_-_22": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://management.azure.com/",
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "body": {
                                                    "kind": "Basic",
                                                    "properties": {
                                                        "virtualMachines": [
                                                            {
                                                                "id": "@{triggerBody()?['AzureResourceId']}",
                                                                "ports": [
                                                                    {
                                                                        "allowedSourceAddressPrefix": "*",
                                                                        "maxRequestAccessDuration": "PT1H",
                                                                        "number": 22,
                                                                        "protocol": "*"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                },
                                                "method": "PUT",
                                                "uri": "https://management.azure.com/subscriptions/@{first(skip(split(triggerBody()?['AzureResourceId'],'/'),2))}/resourceGroups/@{first(skip(split(triggerBody()?['AzureResourceId'],'/'),4))}/providers/Microsoft.Security/locations/@{body('Parse_JSON')['location']}/jitNetworkAccessPolicies/@{first(skip(split(triggerBody()?['AzureResourceId'],'/'),8))}JITPolicy?api-version=2015-06-01-preview"
                                            }
                                        }
                                    }
                                },
                                "Case_2": {
                                    "case": "Windows",
                                    "actions": {
                                        "HTTP_Apply_JIT_VM_Access_-_3389": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://management.azure.com/",
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "body": {
                                                    "kind": "Basic",
                                                    "properties": {
                                                        "virtualMachines": [
                                                            {
                                                                "id": "@{triggerBody()?['AzureResourceId']}",
                                                                "ports": [
                                                                    {
                                                                        "allowedSourceAddressPrefix": "*",
                                                                        "maxRequestAccessDuration": "PT1H",
                                                                        "number": 3389,
                                                                        "protocol": "*"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                },
                                                "method": "PUT",
                                                "uri": "https://management.azure.com/subscriptions/@{first(skip(split(triggerBody()?['AzureResourceId'],'/'),2))}/resourceGroups/@{first(skip(split(triggerBody()?['AzureResourceId'],'/'),4))}/providers/Microsoft.Security/locations/@{body('Parse_JSON')['location']}/jitNetworkAccessPolicies/@{first(skip(split(triggerBody()?['AzureResourceId'],'/'),8))}JITPolicy?api-version=2015-06-01-preview"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@body('Parse_JSON')?['properties']?['storageProfile']?['osDisk']?['osType']",
                            "type": "Switch",
                            "description": "Find OS Disk Type Linux or Windows and set the OSType variable accordingly for the Azure VM management port 22 or 3389"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "ascalert": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ascalertConnectionName'))]",
                                "connectionName": "[variables('ascalertConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}