Notify-Respond-ASCAlert/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Notify-Respond-ASCAlert",
            "type": "string"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "SOCEmailAddress": {
            "defaultValue": "<SOCDistro>@<domain>",
            "type": "string"
        },
        "SecureScoreLogAnalyticsSubId": {
            "defaultValue": "YourLogAnalyticsWorkspaceCollectingSecureScore-SubscriptionID",
            "type": "string"
        },
        "SecureScoreLogAnalyticsRGName": {
            "defaultValue": "YourLogAnalyticsWorkspaceCollectingSecureScore-ResourceGroupName",
            "type": "string"
        },
        "SecureScoreLogAnalyticsName": {
            "defaultValue": "YourLogAnalyticsWorkspaceCollectingSecureScore-WorkspaceName",
            "type": "string"
        }
    },
    "variables": {
        "ascalertConnectionName": "[concat('ascalert-', parameters('PlaybookName'))]",
        "azuremonitorlogsConnectionName": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]",
        "azureadConnectionName": "[concat('azuread-', parameters('PlaybookName'))]",        
        "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azuremonitorlogsConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ascalertConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azureadConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuread')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('ascalertConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('azureadConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('azuremonitorlogsConnectionName'))]"
            ],
            "tags": {
                "LogicAppsCategory": "security"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "SecureScoreLogAnalyticsName": {
                            "defaultValue": "[parameters('SecureScoreLogAnalyticsName')]",
                            "type": "String"
                        },
                        "SecureScoreLogAnalyticsRGName": {
                            "defaultValue": "[parameters('SecureScoreLogAnalyticsRGName')]",
                            "type": "String"
                        },
                        "SecureScoreLogAnalyticsSubId": {
                            "defaultValue": "[parameters('SecureScoreLogAnalyticsSubId')]",
                            "type": "String"
                        },
                        "SecurityTeamEmail": {
                            "defaultValue": "[parameters('SOCEmailAddress')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Alert_is_created_or_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascalert']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Alert/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Send_Confirmed": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "<p>@{body('Get_user')?['displayName']} confirmed involvement on AzureResource: @{triggerBody()?['CompromisedEntity']}<br>\n<br>\nPlease use this email as a communication for additional follow up and questions.<br>\n<br>\nIf you would like to Dismiss or Investigate further please use the following Link:<br>\n@{triggerBody()?['AlertUri']}<br>\n<br>\n<br>\n<span style=\"font-size: 16px\">Azure Security Center has discovered a potential security threat in your environment. Details below:<br>\n</span><br>\nAlert name: @{triggerBody()?['AlertDisplayName']}<br>\n<br>\nAttacked resource: @{triggerBody()?['CompromisedEntity']}<br>\n<br>\nAlert severity: @{triggerBody()?['Severity']}<br>\n<br>\nDetection time: @{triggerBody()?['TimeGenerated']}<br>\n<br>\nDescription: @{triggerBody()?['Description']}<br>\n<br>\nDetected by: @{triggerBody()?['VendorName']}<br>\n<br>\nAlert ID: @{triggerBody()?['SystemAlertId']}<br>\n<br>\nResource identifiers: @{json(string(triggerBody()?['ResourceIdentifiers']))}<br>\n<br>\nLink to view alert in Azure Security Center: @{triggerBody()?['AlertUri']}</p>",
                                            "Cc": "@variables('emailaddress')",
                                            "Importance": "High",
                                            "Subject": "Confirmed activity on @{triggerBody()?['CompromisedEntity']}",
                                            "To": "@parameters('SecurityTeamEmail')"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    }
                                }
                            },
                            "runAfter": {
                                "Send_email_with_options": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Send_Declined": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "Body": "<p>@{body('Get_user')?['displayName']} declined involvement on AzureResource: @{triggerBody()?['CompromisedEntity']}<br>\n<br>\nIf you would like to Dismiss or Investigate further please use the following Link:<br>\n@{triggerBody()?['AlertUri']}<br>\n<br>\n<br>\n<span style=\"font-size: 16px\">Azure Security Center has discovered a potential security threat in your environment. Details below:</span><br>\n<br>\nAlert name: @{triggerBody()?['AlertDisplayName']}<br>\n<br>\nAttacked resource: @{triggerBody()?['CompromisedEntity']}<br>\n<br>\nAlert severity: @{triggerBody()?['Severity']}<br>\n<br>\nDetection time: @{triggerBody()?['TimeGenerated']}<br>\n<br>\nDescription: @{triggerBody()?['Description']}<br>\n<br>\nDetected by: @{triggerBody()?['VendorName']}<br>\n<br>\nAlert ID: @{triggerBody()?['SystemAlertId']}<br>\n<br>\nResource identifiers: @{json(string(triggerBody()?['ResourceIdentifiers']))}<br>\n<br>\nLink to view alert in Azure Security Center: @{triggerBody()?['AlertUri']}</p>",
                                                "Importance": "High",
                                                "Subject": "Declined activity on @{triggerBody()?['CompromisedEntity']}",
                                                "To": "@parameters('SecurityTeamEmail')"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/v2/Mail"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Send_email_with_options')?['SelectedOption']",
                                            "Yes - this was me"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "ConvertAlertDateTime": {
                            "runAfter": {},
                            "type": "Expression",
                            "kind": "ConvertTimeZone",
                            "inputs": {
                                "baseTime": "@triggerBody()?['StartTimeUtc']",
                                "destinationTimeZone": "Eastern Standard Time",
                                "formatString": "D",
                                "sourceTimeZone": "UTC"
                            }
                        },
                        "Get_user": {
                            "runAfter": {
                                "LatestCallerActivities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuread']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v1.0/users/@{encodeURIComponent(variables('emailaddress'))}"
                            }
                        },
                        "Initialize_AzureResourceContact": {
                            "runAfter": {
                                "ConvertAlertDateTime": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AzureResourceContact",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            },
                            "description": "Variable used to define most likely Azure Resource Contact"
                        },
                        "Initialize_emailaddress": {
                            "runAfter": {
                                "TopAzureResourceCallbyWrites": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "emailaddress",
                                        "type": "string",
                                        "value": "@{body('LatestCallWriteronAzureResource')?['value'][0]?['Caller']}"
                                    }
                                ]
                            }
                        },
                        "LatestCallWriteronAzureResource": {
                            "runAfter": {
                                "Initialize_AzureResourceContact": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "AzureActivity\n| where _ResourceId contains \"@{triggerBody()?['AzureResourceId']}\"\n| where Caller contains \"@\"\n| where OperationNameValue contains \"write\"\n| top 1 by TimeGenerated\n| project Caller,CallerIpAddress",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "@parameters('LogAnalyticsRGName')",
                                    "resourcename": "@parameters('LogAnalyticsWorkspaceName')",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "@parameters('LogAnalyticsSubID')",
                                    "timerange": "Last 7 days"
                                }
                            }
                        },
                        "LatestCallerActivities": {
                            "runAfter": {
                                "Initialize_emailaddress": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "AzureActivity\n| where _ResourceId contains \"@{triggerBody()?['AzureResourceId']}\"\n| where Caller contains \"@{variables('emailaddress')}\"\n| where OperationNameValue contains \"write\"\n| top 20 by TimeGenerated",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/visualizeQuery",
                                "queries": {
                                    "resourcegroups": "@parameters('LogAnalyticsRGName')",
                                    "resourcename": "@parameters('LogAnalyticsWorkspaceName')",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "@parameters('LogAnalyticsSubID')",
                                    "timerange": "Last 7 days",
                                    "visType": "Html Table"
                                }
                            }
                        },
                        "Send_email_with_options": {
                            "runAfter": {
                                "Get_user": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "Message": {
                                        "Body": "<p>Hi , @{body('Get_user')?['givenName']}</p>\n<p>On @{body('ConvertAlertDateTime')}, Azure Security Center has discovered a potential security threat in your environment. Details below:</p>\n\n</p> @{triggerBody()?['AlertDisplayName']}, on @{triggerBody()?['CompromisedEntity']}.</p>\n<p><strong>Technical Details:</strong></p>\n<p>Event Time (UTC): @{triggerBody()?['StartTimeUtc']} <br />Severity: @{triggerBody()?['Severity']}<br />Entity Impacted: @{triggerBody()?['CompromisedEntity']}<br />Orginal Event Name: @{triggerBody()?['AlertDisplayName']}<br />Description: @{triggerBody()?['Description']}</p>\n<p><strong>Next Steps:</strong><br />Due to the urgent nature of this request, the following steps may be taken to escalate remediation of this security alert if you do not respond:</p>\n<ul>\n  <li>Information and Support</li>\n  <li>Questions and Support - connect with our team by replying all to this email</li>\n</ul>\n<p><strong>Learn More - Visit</strong> @{triggerBody()?['AlertUri']}</p>\n<p>Thank you,<br />Security Team</p>",
                                        "HeaderText": "You need to take action",
                                        "Importance": "High",
                                        "Options": "Yes - this was me, No - this was not me,",
                                        "SelectionText": "Please review the details above and confirm you are aware of this activity by selecting one of these options:",
                                        "Subject": "We have detected suspicious activity on @{triggerBody()?['CompromisedEntity']}",
                                        "To": "@variables('emailaddress')",
                                        "UseOnlyHTMLMessage": true
                                    },
                                    "NotificationUrl": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "path": "/mailwithoptions/$subscriptions"
                            }
                        },
                        "TopAzureResourceCallbyWrites": {
                            "runAfter": {
                                "LatestCallWriteronAzureResource": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "AzureActivity\n| where _ResourceId contains \"@{triggerBody()?['AzureResourceId']}\"\n| where Caller contains \"@\"\n| where OperationNameValue contains \"write\"\n| summarize count() by Caller\n| top 1 by count_",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "@parameters('LogAnalyticsRGName')",
                                    "resourcename": "@parameters('LogAnalyticsWorkspaceName')",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "@parameters('LogAnalyticsSubID')",
                                    "timerange": "Last 7 days"
                                }
                            },
                            "description": "Search Activity logs for the highest number of Caller that contains email by writes to the resource in last 7 days"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "ascalert": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ascalertConnectionName'))]",
                                "connectionName": "[variables('ascalertConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                            },
                            "azuread": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureadConnectionName'))]",
                                "connectionName": "[variables('azureadConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuread')]"
                            },
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuremonitorlogsConnectionName'))]",
                                "connectionName": "[variables('azuremonitorlogsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName": "[variables('Office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}